
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Welcome to MyRecipes App</h2>
          <p>This is the home page for the Professional Ruby on Rails Developer Course on Udemy </p>
          <p> <%= link_to "Sign up now!", "#", class:"btn btn-lg btn-primary", role:"button" %></p>
      </div>



      <div class="row">
        <div class="col-md-4">
          <h3>View Recipes as Guest User</h3>
          <p>Browse and view recipes as a guest and Sign up later</p>
          <p><%= link_to "Browse Recipe Listings", "#", class:"btn btn-default btn-small", role:"button" %></p>
        </div>
        <div class="col-md-4">
          <h3>View Recipes as Guest User</h3>
          <p>Browse and view recipes as a guest and Sign up later</p>
          <p><%= link_to "Browse Recipe Listings", "#", class:"btn btn-default btn-small", role:"button" %></p>
        </div>
        <div class="col-md-4">
          <h3>View Recipes as Guest User</h3>
          <p>Browse and view recipes as a guest and Sign up later</p>
          <p><%= link_to "Browse Recipe Listings", "#", class:"btn btn-default btn-small", role:"button" %></p>
        </div>
      </div>
